
    .auth-image {
        width: 400px;
        height: auto;
      }

   @media (max-width: 640px) {
       #main-container {
           orientation: portrait;
           width: 400px;
           height: auto;
       }
   }

   